<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Passionate undergraduate with a vision for a smarter, connected future. 
          Eager to make contributions to firmware, hardware, semiconductor, ASIC design, renewable energy, and product development projects.</p>
        <p>A current energy dashboard intern under Dean Baglione in the Cooper Union</p>
      </div>
      <div class="col-lg-4">
        <p>I completed my Korean military service with the rank of Sergeant. Throughout my tenure, I served as a signaller, proficiently handling both short and long-range wireless communication devices such as PRC-999K, radios, TMFTs, and AS-992K. My responsibilities included establishing and maintaining a well-organized communication network during training periods.</p>
      </div>
    </div>
  </div>
</section>
