<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% if post.title == "Project 2" %}
              <video src="https://a01-g-naver-vod.pstatic.net/blog/a/read/v2/VOD_ALPHA/blog_2023_12_30_2246/a379d4a6-a67c-11ee-86e7-a0369ffdf530.mp4?__gda__=1703888267_e12e17c93ab4fe24cad76e909f81f5c4&in_out_flag=1" controls="controls" style="width: 680px;"></video>
            {% endif %}
            {% if post.title == "Project 3" %}
              <video src="https://a01-g-naver-vod.pstatic.net/blog/a/read/v2/VOD_ALPHA/blog_2023_12_30_3071/base_pathfinder_pf3448100_9ae0102c-a694-11ee-b230-a0369ffabcc8.mp4?__gda__=1703888665_afd23b1bc63ab51e91f9a39f6634a4a0&in_out_flag=1" controls="controls" style="width: 680px;"></video>
            {% endif %}
            {% if post.title == "Project 4" %}
              <video src="" style="width: 680px;"></video>
            {% endif %}
            {% if post.title == "Project 5" %}
              <video src="" style="width: 680px;"></video>
            {% endif %}
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
