<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Include YouTube IFrame API -->
<script src="https://www.youtube.com/iframe_api"></script>

<!-- Portfolio Modals -->
{% for post in site.posts %}
  <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>{{ post.title }}</h2>
              <hr class="star-primary">
              <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              {% if post.description %}
                <p>{{ post.description }}</p>
                {% if post.title == "Project 2" %}
                  <div id="player-2"></div>
                {% elsif post.title == "Project 3" %}
                  <div id="player-3"></div>
                {% elsif post.title == "Project 4" %}
                  <div id="player-4"></div>
                {% elsif post.title == "Project 5" %}
                  <div id="player-5"></div>
                {% elsif post.title == "Project 6" %}
                  <div id="player-6"></div>
                {% endif %}
              {% endif %}
              <ul class="list-inline item-details">
                {% if post.client %}
                  <li>Client: <strong>{{ post.client }}</strong></li>
                {% endif %}
                {% if post.project-date %}
                  <li>Date: <strong>{{ post.project-date }}</strong></li>
                {% endif %}
                {% if post.category %}
                  <li>Service: <strong>{{ post.category }}</strong></li>
                {% endif %}
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="fa fa-times"></i> Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<script>
  // Initialize YouTube IFrame API
  function onYouTubeIframeAPIReady() {
    // Create a player for each video
    new YT.Player('player-2', { videoId: 'lZ2HTTFPI1c', events: { 'onReady': onPlayerReady } });
    new YT.Player('player-3', { videoId: 'IIHjzg5GZUY', events: { 'onReady': onPlayerReady } });
    new YT.Player('player-4', { videoId: 'xcsMpBHcq68', events: { 'onReady': onPlayerReady } });
    new YT.Player('player-5', { videoId: 'dRjoN5F3ecw', events: { 'onReady': onPlayerReady } });
    new YT.Player('player-6', { videoId: 'Xya-h9nSnFg', events: { 'onReady': onPlayerReady } });
  }

  // Callback when a player is ready
  function onPlayerReady(event) {
    // Attach a listener to the modal close event
    $('.portfolio-modal').on('hidden.bs.modal', function () {
      // Pause the video when the modal is closed
      event.target.pauseVideo();
    });
  }
</script>
